
.main{
    margin: 0;
    padding: 0;
    background-color: #1f2937;
    box-sizing: border-box;
}
.header{
    display: flex;
    /* border: 5px red solid; */
    margin: 0 15%;
    justify-content:space-between;
    font-family:sans-serif;
}
.logo{
    font-size:24px;
    color: #f9faf8;
    padding-top: 15px;
    margin-left: 13.75%;
}
.links{
    font-size: 18px;
    color:#e5e7EB;
    gap:15px ;
    width: 30%;
    min-width: 35%
}
.hero{
    display: flex;
    /* border: 5px solid red; */
    margin: 5% 15%;
    justify-content: center;
}
.head{
    flex-direction: column;
    max-width:30%;
}
.head, .placeholder{
    min-width: 36%;
    margin: 0.2%;
    font-family: sans-serif;
}
.hero-title{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 800;
    margin: 0;
}
.hero-para{
    font-size: 18px;
    margin: 0 0 20px;
    color:#E5E7EB;
}
.placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    font-size: 8px;
    background-color: rgba(255, 255, 255, 0.4);
}
.hero-button{
    width: 25%;
    align-self: flex-start;
    color: black;
    background: #3882f6;
    border: none;
    border-radius: 5px;
    font-size: 22px;

}
.body2{
    background:white;
    text-align: center;  
    font-size:36px;
    color: #1f2937;
    font-weight: 600;
     border: 5px white solid; 
    font-family: sans-serif;
}
.picboxes{
    background: white;
    /* border: 5px red solid; */
    display: flex;
    justify-content: center;
    gap: 80px;
}
.textboxes{
    background: white;
    /* border: 5px red solid; */
    display: flex;
    justify-content: center;
    gap: 90px;
}
.picbox{
    width: 200px;
    height: 200px;
    border: #3882f6 solid 5px;
    border-radius: 20px;
}.textboxes>p{
    width: 200px;
    font-size:22px;
    /* border: 5px red solid; */
    margin-top: 0;
    text-align: center;
    margin-bottom: 150px;
    
}
.minor-header{
    margin-top: 50px;
    font-size: 36px;
}
.quote-container{
    background:#E5E7EB ;
    margin: 0 auto;
    text-align: left;
    border: 5px solid #e5e7EB;
}
.quote{
    font-size: 36px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 100px;
    /* border: 5px red solid; */
    margin-bottom: 0;
    width: 43%;
    margin-left: 28.5%;
    margin-top: 150px;
}
.signed{
    font-weight: 800;
    font-family: sans-serif;
    font-size: 23px;
    margin-top: 0;
    /* border: 5px red solid; */
    width: 43%;
    margin-left: 28.5%;
    text-align: right;
    margin-bottom: 150px;
}
/* Call to action Section */
.cta-container{
    background: white;
    font-family: sans-serif;
    display: flex;
    /* border: 5px red solid; */
    flex: 1;
    justify-content: center;
}.cta-box{
    color:white;
    background-color: #3882f6;
    display: flex;
    width: 50%;
    border-radius: 5px;
    padding: 50px 40px;
    margin:150px auto ;
}
.cta-text-box{
    width: 70%;
}
.cta-header{
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 0;
    margin-left: 20%;
}
.cta-para{
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 20%;
}
.cta-button-box{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40%;
    margin-right: 10%;
    
}
.cta-button{
    color: #F9FAF8 ;
 font-size:16px;
 font-weight: 800;
 background-color: #3882f6;
 border-radius: 5px;
 border: 3px solid white;
 padding: 0px 5px;
 width: 60%;
 height: 50%;
 margin-top: 6.5%;
 margin-left: 50%;
}
.cta-button:hover{
    background-color: #F9FAF8;
    transition: 1s;
}
/* Footer */
.footer{
    background-color: #1f2937;
    text-align: center;
    color: #F9FAF8;
    font-family: sans-serif;
}
.copyright{
    font-size: 18px;
    padding: 20px;
}